<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Asmartment.com</h5>
        <p class="white-text">Your #1 source for smart home consumer electronics and the internet of things.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Useful Links</h5>
        <ul>
          <li><a class="white-text" href="#!">Story</a></li>
          <li><a class="white-text" href="#!">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Asmartment.com
    <a class="white-text right" href="#!">More Links</a>
    </div>
  </div>
</footer>
    